<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="REST API Test Suite">
            <file>./tests/independente/DB_Prepare_Test.php</file>
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="URL_API" value="localhost" force="true" />
    </php>
</phpunit>